fastapi==0.112.2
uvicorn[standard]==0.30.1

langchain==0.2.12
langchain-openai==0.1.7
langchain-community==0.2.7
chromadb==0.5.3

pydantic==2.8.2
python-dotenv==1.0.1

torch==2.3.1
transformers==4.41.0
pillow==10.4.0

python-multipart==0.0.9
pypdf==4.2.0
